{% extends "blog-layout.html" %}
{% block blog %}

<!-- thumbnail: dmd.jpg -->
<h1>Les nouveautés de Domodroid</h1>
<p>
  Pour ceux qui l'ignorent, Domogik a son application Android : <strong>Domodroid</strong>.
<!-- stop -->
  Celle-ci vous permet de voir et contrôler les appareils de votre maison.
</p>

    <p>Voici la liste des nouveautés depuis la version sortie avec Domogik 0.4 :</p>
    <ul>
      <li>Compatibilité avec Domogik 0.5.</li>
      <li>Passage à Android studio.</li>
      <li>Utilisation d'appcompat Pour le navigation drawer et revue des menus.</li>
      <li>Mise en place de Travis (tests automatisés).</li>
      <li>Mise en place de certains tests dans gradle.</li>
      <li>Gestion du SSL et de l'authentification à l'API REST de Domogik.</li>
      <li>Revue du système de synchro.</li>
      <li>Il est désormais possible de renommer les devices de Domogik depuis Domodroid.</li>
      <li>Meilleure gestion des problèmes de configuration ou de Domogik indisponible.</li>
      <li>On peut monter ou descendre les widgets (room/area/device)</li>
      <li>Les switchs et triggers sont désormais utilisables directement depuis le mode map.</li>
      <li>Meilleure gestion du bouton retour.</li>
      <li>Ajout de la dernière mise à jour de la valeur d'un capteur avec 2 modes (depuis 3minutes ou 09/06/2016 16h23)</li>
      <li>De nombreuses corrections de bugs notamment en map et sur les graphiques de bases.</li>
      <li>Beaucoup plus de traduction en russe.</li>
      <li>L'affichage des statistiques a été retiré.</li>
      <li>La fonction de zoom sur le mode carte a été retirée.</li>
    </ul>

<p>
  Si l'un d'entre vous souhaite participer à l'aventure de Domodroid, n'hésitez pas à nous le faire savoir, via le compte twitter du projet <strong>@domogik</strong> ou du développeur actuel de Domodroid <strong>@newdomodroid</strong> !
</p>
{% endblock  %}

