{% extends "blog-layout.html" %}
{% block blog %}

<!-- thumbnail: todo.jpg -->
<h1>Tutoriel : ouvrir et fermer ses volets en fonction du lever et du coucher du soleil</h1>
<p>
  Ne plus avoir à ouvrir manuellement ses volets le matin et le soir fait partie des petits conforts que peut vous apporter la domotique.
<!-- stop -->
  Nous allons voir comment réaliser ceci.
</p>

<h2>Prérequis</h2>

<ul>
  <li>Domogik 0.5 (minimum) et le plugin weather.</li>
  <li>Des volets roulants déjà configurés dans Domogik.</li>
</ul>

{% endblock  %}
