{% extends "layout.html" %}

{% block metatwitter -%}
<meta name="twitter:title" content="Domogik">
<meta name="twitter:description" content="Blog">
<meta name="twitter:image" content="{{ twitter_card_image }}">
{%- endblock metatwitter %}


{% block content %}


  <div class="container" id="blog">

        {% for preview in blog_headers|sort(attribute='url', reverse=True) %}
          <div class="row blog-preview">
            <div class="col-md-4">
              <img src="thumbnails/{{ preview.thumbnail }}" class="img-responsive img-thumbnail" alt="Responsive image"/>
            </div>
            <div class="col-md-8 blog-preview-text">
              {{ preview.header }} 
            </div>
          </div>
        {% endfor %}
      
      

  </div>


{% endblock %}
