
{% extends "layout.html" %}

{% block content %}

	
    <div id="slideDownload">
      <div class="noslide">
        <div class="nolayer">
          <div class="container">
            <h1>{% trans %}Téléchargez la dernière version{% endtrans %}</h1>
            <div class="row">
              <div class="col-md-6 column">
                <h2>{% trans %}Domogik 0.5.2{% endtrans %}</h2>
                <p>
                  {% trans %}Domogik est le coeur de la solution. Il est livré avec une interface d'administration.{% endtrans %}
                </p>
                <div>
                  <a href="https://github.com/domogik/domogik/archive/0.5.2.tar.gz">
                    <i class="fa fa-download"></i> {% trans %}Télécharger{% endtrans %}
                  </a>&nbsp;
                  <a href="http://domogik.readthedocs.io/en/master/users/releases/0.5.2.html">
                    <i class="fa fa-list-alt"></i> {% trans %}Release note{% endtrans %}
                  </a>&nbsp;
                  <a href="http://domogik.readthedocs.io/">
                    <i class="fa fa-book"></i> {% trans %}Documentation{% endtrans %}
                  </a>
                </div>
                <p>
                  {% trans %}Domogik utilise le composant Domogik-MQ pour la communication entre les composants.{% endtrans %}
                </p>
                <div>
                  <a href="https://github.com/domogik/domogik-mq/archive/1.4.tar.gz">
                    <i class="fa fa-download"></i> {% trans %}Télécharger Domogik-MQ{% endtrans %}
                  </a>&nbsp;
                </div>
              </div>

              <div class="col-md-6 column">
                <h2>{% trans %}Domoweb 0.5.2{% endtrans %}</h2>
                <p>
                  {% trans %}Domoweb est l'interface de visualisation et de contrôle. Il s'agit d'une interface web responsive qui s'adapte a toutes les tailles d'ecran : ordinateurs, tablettes et téléphones.{% endtrans %}
                </p>
                <div>
                  <a href="https://github.com/domogik/domoweb/archive/0.5.2.tar.gz">
                    <i class="fa fa-download"></i> {% trans %}Télécharger{% endtrans %}
                  </a>&nbsp;
                  <!--
                  <a href="">
                    <i class="fa fa-list-alt"></i> Release note
                  </a>&nbsp;
                  -->
                  <a href="http://domoweb.readthedocs.io/">
                    <i class="fa fa-book"></i> {% trans %}Documentation{% endtrans %}
                  </a>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6 column">
                <h2>{% trans %}Butler Android{% endtrans %}</h2>
                <p>
                  {% trans %}Butler Android est l'application Android qui vous permet de parler avec le Majordome de Domogik.{% endtrans %}
                </p>
                <div>
                  <a href="https://github.com/domogik/ButlerAndroid/releases/download/0.9b6/app-debug.apk">
                    <i class="fa fa-download"></i> {% trans %}Télécharger{% endtrans %}
                  </a>&nbsp;
                  <a href="http://butlerandroid.readthedocs.io/">
                    <i class="fa fa-book"></i> Documentation
                  </a>
                </div>
              </div>
              <div class="col-md-6 column">
                <h2>{% trans %}Domodroid{% endtrans %}</h2>
                <p>
                  {% trans %}Domodroid est l'application Android compatible avec Domogik. Elle vous permet de contrôler votre maison depuis une tablette ou votre smartphone.{% endtrans %}
                </p>
                <p><em>{% trans %}Attention, l'application est encore en cours de développment. Elle peut contenir des bugs.{% endtrans %}</em></p>
                <div>
                  <a href="https://play.google.com/store/apps/details?id=org.domogik.domodroid13&hl=fr">
                    <i class="fa fa-download"></i> {% trans %}Télécharger{% endtrans %}
                  </a>&nbsp;
                  <!--
                  <a href="">
                    <i class="fa fa-list-alt"></i> Release note
                  </a>&nbsp;
                  -->
                  <a href="http://domodroid.readthedocs.org">
                    <i class="fa fa-book"></i> {% trans %}Documentation{% endtrans %}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
