{% extends "layout.html" %}

{% block metatwitter -%}
<meta name="twitter:title" content="Domogik">
<meta name="twitter:description" content="{% trans %}FAQ{% endtrans %}">
<meta name="twitter:image" content="{{ twitter_card_image }}">
{%- endblock metatwitter %}


{% block content %}


  <div class="container" id="faq">
    <h1>{% trans %}FAQ <small>La Foire Aux Questions...</small>{% endtrans %}</h1>

    <h2>{% trans %}Questions générales{% endtrans %}</h2>

    <h3>{% trans %}Est-ce que des éléments de Domogik sont payants ?{% endtrans %}</h3>
    <blockquote>{% trans %}Domogik et l'écosystème qui va avec est entièrement libre et gratuit.{% endtrans %}</blockquote>


    <h2>{% trans %}Niveau de compétence{% endtrans %}</h2>

    <h3>{% trans %}Quel est le niveau de compétence requis pour utiliser Domogik ?{% endtrans %}</h3>
    <blockquote>{% trans %}Domogik est fait pour être le plus simple possible d'utilisation.{% endtrans %}</blockquote>

    <h3>{% trans %}Quel est le niveau de compétence requis pour administrer Domogik ?{% endtrans %}</h3>
    <blockquote>{% trans %}Administrer Domogik requiert quelques compétences sur l'utilisation de Linux.{% endtrans %}</blockquote>

    <h3>{% trans %}Quel est le niveau de compétence requis pour installer Domogik ?{% endtrans %}</h3>
    <blockquote>{% trans %}Pour installer Domogik à ce jour, il faut quelques compétences sur l'utilisation de Linux.{% endtrans %}</blockquote>



    <h2>{% trans %}Packages{% endtrans %}</h2>

    <h3>{% trans %}Pourquoi y a t'il moins de packages (plugins) avec la version 0.4.x qu'avec la version 0.3.x ?{% endtrans %}</h3>
    <blockquote>{% trans %}Domogik 0.4 est un <em>reboot</em> de Domogik. La compatibilité des plugins a donc été cassée.{% endtrans %}</blockquote>

    <h2>{% trans %}Versions et fonctionnalités à venir{% endtrans %}</h2>

    <!--
    <h3>{% trans %}La version 0.4.0/0.4.1 de Domogik a été très longue à sortir. Est-ce que ça sera le cas pour les suivantes ?{% endtrans %}</h3>
    <blockquote>{% trans %}En effet Domogik 0.4 a été une trop longue aventure. La solution a été quasiment entièrement réécrite et nous avons passé beaucoup de temps a peaufiner des détails de fond. Maintenant que cette base saine est posée, nous avons pour objectif de faire des évolutions plus régulièares et plus souples.{% endtrans %}</blockquote>
    -->

    <h3>{% trans %}Que prévoyez-vous pour la prochaine version ?{% endtrans %}</h3>
    <blockquote>{% trans %}Il y a tellement de sujets à adresser... Vous verrez bien ;){% endtrans %}</blockquote>

    <h3>{% trans %}Pourquoi la technologie XYZ n'est pas supportée ?{% endtrans %}</h3>
    <blockquote>{% trans %}Il y a tellement de technologies domotiques différentes et il faut du temps pour ajouter le support d'une technologie. Certaines peuvent être très simple et d'autres très complexes. Le nombre de technologies supportées par Domogik va croître avec le temps. Toutefois si cela ne vas pas assez vite pour vous, vous pouvez toujours venir nous aider ;){% endtrans %}</blockquote>



    <h2>{% trans %}Aider, participer{% endtrans %}</h2>

    <h3>{% trans %}Je souhaite vous aider, mais je ne sais pas développer, que puis-je faire ?{% endtrans %}</h3>
    <blockquote>{% trans %}Il est possible de nous aider sur différents sujets : communication, traductions (quand l'outillage sera mis en place), documentation, tests.{% endtrans %}</blockquote>

    <h3>{% trans %}Je souhaite vous aider, comment vous contacter ?{% endtrans %}</h3>
    <blockquote>{% trans %}Vous trouverez les différents moyens de communication en bas de cette page (mail, irc, etc).{% endtrans %}</blockquote>

    <h3>{% trans %}Je souhaite faire un don, comment faire ?{% endtrans %}</h3>
    <blockquote>{% trans %}A ce jour, nous n'avons encore rien qui nous permette de recevoir des dons pécuniers. Toutefois, vous pouvez proposer du matériel (prêt ou don) aux développeurs actifs afin de nous aider à compléter la couverture technologique.{% endtrans %}</blockquote>


  </div>


{% endblock %}
