{% extends "layout.html" %}

{% block content %}

    <!-- slide 1 -->

    <div id="slideStart" class="slide">
      <div class="layer">
        <div class="github-fork-ribbon-wrapper right">
          <div class="github-fork-ribbon">
            <a href="https://github.com/domogik/domogik">Fork me on GitHub</a>
          </div>
        </div>
        <div id="maintitle">
            <h1>Domogik</h1>
            <p>
              {% trans %}Prenez le contrôle de votre maison!{% endtrans %}
            </p>
            <p>
              <i class="fa fa-microphone"></i>
              <i class="fa fa-mobile"></i>
              <i class="fa fa-tablet"></i>
              <i class="fa fa-laptop"></i>
              <i class="fa fa-desktop"></i>
            </p>
            <p>
        </div>
        <div class="container">
          <div class="row">
            {% for preview in blog_headers %}
              {% if loop.index <= 3 %}
                <div class="col-md-4">
                  <div class="xxxxx">
                    <a href="{{preview.url}}"> <img src='thumbnails/{{ preview.thumbnail }}' class='img-responsive img-thumbnail'/></a>
                    <h2><a href="{{preview.url}}">{{ preview.title }}</a></h2>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <!-- slide blog -->
    <div id="blogLastEntries" class="noslide">
      <div class="nolayer title">
        <div class="content">
          <h1>{% trans %}<span class='fine'>En direct du</span> <strong>blog</strong>{% endtrans %}</h1>
        </div>
      </div>
      <div class="container">
        <div class="row">
          {% for preview in blog_headers %}
            {% if loop.index <= 3 %}
              <div class="col-md-4">
                <div class="xxxxx">
                  <a href="{{preview.url}}"> <img src='thumbnails/{{ preview.thumbnail }}' class='img-responsive img-thumbnail'/></a>
                  <h2><a href="{{preview.url}}">{{ preview.title }}</a></h2>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- slide bla bla -->

    <div id="slideDescription" class="noslide">
      <div class="nolayer title">
        <div class="content">
          <h1>{% trans %}<span class='fine'>Une solution</span> <strong>libre</strong>{% endtrans %}</h1>
        </div>
      </div>
      <div class="nolayer">
        <div id="description" class="container">
          <p>
            {% trans %}<strong>Domogik</strong> est une solution de Domotique <strong>libre</strong> (GPLv3).{% endtrans %}
          </p>
          <p>
            {% trans %}Elle vous permet de :{% endtrans %}
          </p>
          <ul>
            <li><i class="fa fa-hand-pointer-o"></i> {% trans %}<strong>Contrôler</strong> vos lumières, volets, etc.{% endtrans %}</li>
            <li><i class="fa fa-line-chart"></i> {% trans %}<strong>Monitorer</strong> votre maison (température, électricité, ...).{% endtrans %}</li>
            <li><i class="fa fa-mouse-pointer"></i> {% trans %}Créer des <strong>scénarios</strong> pour rendre votre maison plus autonome.{% endtrans %}</li>
            <li><i class="fa fa-microphone"></i> {% trans %}Contrôler votre maison à la <strong>voix</strong>.{% endtrans %}</li>
          </ul>
          <p>
            {% trans %}Et bien plus encore...{% endtrans %}
          </p>
        </div>
      </div>
    </div>

    <!-- slide features -->

    <div id="slideFeatures" class="noslide">
      <div class="nolayer title">
        <div class="content">
          <h1>{% trans %}<span class='fine'>Une solution</span> <strong>moderne</strong>{% endtrans %}</h1>
        </div>
      </div>

      <div class="nolayer">
        <div class="container">
          <div class="row">
            <div class="col-md-4 column">
              <h2>{% trans %}Multi-technologies{% endtrans %}</h2>
              <i class="fa fa-cubes fa-4x"></i>
              <p>
                {% trans %}Domogik évolue avec les nouvelles technologies (Téléinfo, Velbus, Onewire, Rfxcom...). D'autres technologies sont en cours de développement (Zwave,...). {% endtrans %}
                {% trans %}Les technologies sont supportées par des plugins que vous pouvez trouver sur <a href="http://repo-public.domogik.org/" alt="Dépôt de packages">notre dépôt de packages</a>.{% endtrans %}
              </p>
            </div>
            <div class="col-md-4 column">
              <h2>{% trans %}Interface web responsive{% endtrans %}</h2>
              <i class="fa fa-html5 fa-4x"></i>
              <p>
                {% trans %}Domogik est livré en standard avec une interface d'administration web et responsive afin que vous puissiez l'utiliser rapidement, que ça soit depuis votre ordinateur, votre tablette, votre smartphone ou votre liseuse.{% endtrans %}
              </p>
            </div>
            <div class="col-md-4 column">
              <h2>{% trans %}Contrôlez votre maison à la voix{% endtrans %}</h2>
              <i class="fa fa-microphone fa-4x"></i>
              <p>
                {% trans %}Vous pouvez interagir de manière intuitive avec votre installation domotique en lui parlant. Elle est même capable d'apprendre toute seule!{% endtrans %}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 column">
              <h2>{% trans %}Réellement gratuit{% endtrans %}</h2>
              <i class="fa fa-money fa-4x"></i>
              <p>
               {% trans %} Domogik est un logiciel libre (GPLv3) et OpenSource. Vous pouvez donc le télécharger, l'utiliser le redistribuer et le modifier gratuitement. Que ça soit le core ou les packages, tout est gratuit et libre.{% endtrans %}
              </p>
            </div>
            <div class="col-md-4 column">
              <h2>{% trans %}Adapté à vos besoins{% endtrans %}</h2>
              <i class="fa fa-puzzle-piece fa-4x"></i>
              <p>
                {% trans %}Grâce à une API documentée il est facile de modifier ou de développer son propre plugin ou sa propre interface graphique.{% endtrans %}
              </p>
            </div>
            <div class="col-md-4 column">
              <h2>{% trans %}Ouvert aux autres{% endtrans %}</h2>
              <i class="fa fa-users fa-4x"></i>
              <p>
                {% trans %}Grâce à son API, vous pouvez utiliser Domogik avec d'autres solutions, comme <a href="http://www.openremote.org" alt="OpenRemote">OpenRemote</a> qui permet de créer des interfaces de contrôle photo réalistes.{% endtrans %}
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>


    <!-- domoweb -->
    <div id="slideDomoweb">
      <div class="noslide">
        <div class="nolayer title">
          <div class="content">
            <h1>{% trans %}<span class='fine'>Une interface web</span> <strong>élégante</strong>{% endtrans %}</h1>
          </div>
        </div>

        <div class="nolayer">
          <div class="container"> 
            <h2>{% trans %}L'interface s'adapte à toutes les tailles d'écrans{% endtrans %}</h2>
            <div class="row">
              <div class="col-md-8">
                <img src="images/screenshot_dmw_desktop_01.png" class="img-responsive screenshot">
              </div>
              <div class="col-md-4">
                <img src="images/screenshot_dmw_phone_01.png" class="img-responsive screenshot">
              </div>
            </div>

            <h2>{% trans %}Personnalisez facilement le style de votre interface{% endtrans %}</h2>
            <div class="row">
              <div class="col-md-4">
                <img src="images/screenshot_dmw_style_01.png" class="img-responsive screenshot">
              </div>
              <div class="col-md-4">
                <img src="images/screenshot_dmw_style_02.png" class="img-responsive screenshot">
              </div>
              <div class="col-md-4">
                <img src="images/screenshot_dmw_style_03.png" class="img-responsive screenshot">
              </div>
            <div class="row">
              <div class="col-md-4">
                <img src="images/screenshot_dmw_style_04.png" class="img-responsive screenshot">
              </div>
              <div class="col-md-4">
                <!-- <img src="images/screenshot_dmw_style_05.png" class="img-responsive screenshot"> -->
              </div>
              <div class="col-md-4">
                <!-- <img src="images/screenshot_dmw_style_06.png" class="img-responsive screenshot"> -->
              </div>
            </div>
<!--
            <h2>{% trans %}Sur les smartphones compatibles utilisez-la comme une application native{% endtrans %}</h2>
            <div class="row">
              <div class="col-md-8">
                TODO : montrer la manip sur une image : menu => add to ... => icone
                <img src="images/screenshot_dmw_desktop_01.png" class="img-responsive screenshot">
              </div>
              <div class="col-md-4">
                TODO : screen plein page
                <img src="images/screenshot_dmw_phone_01.png" class="img-responsive screenshot">
              </div>
            </div>
-->

            <h2>{% trans %}Vous pouvez même utiliser une liseuse{% endtrans %}</h2>
              <p>{% trans %}De part leur faible consommation les liseuses peuvent devenir des interfaces de contrôle idéales.{% endtrans %}</p>
              <img src="images/photo_dmw_ereader_01.png" class="img-responsive screenshot">
          </div>
        </div>
      </div>
    </div>

    <!-- slide admin -->	
    <div id="slideAdmin">
      <div class="noslide">
        <div class="nolayer title">
          <div class="content">
            <h1>{% trans %}<span class='fine'>Administrez depuis</span> <strong>votre canapé</strong>{% endtrans %}</h1>
          </div>
        </div>

        <div class="nolayer">
          <div class="container"> 
            <h2>{% trans %}L'administration aussi est responsive{% endtrans %}</h2>
            <p>{% trans %}Vous n'avez plus besoin d'aller sur votre ordinateur pour configurer un plugin, créer un périphérique  ou encore créer un scénario.{% endtrans %}</p>
            <div class="row">
              <div class="col-md-8">
                <img src="images/screenshot_admin_desktop_01.png" class="img-responsive screenshot">
              </div>
              <div class="col-md-4">
                <img src="images/screenshot_admin_phone_01.png" class="img-responsive screenshot">
              </div>
            </div>

            <h2>{% trans %}Créez des scénarios{% endtrans %}</h2>
                <img src="images/screenshot_admin_scenario_01.png" class="img-responsive screenshot">

        </div>
      </div>
    </div>

    <!-- slide photos -->	

    <div id="slidePhotos">
      <div class="noslide">
        <div class="nolayer title">
          <div class="content">
            <h1>{% trans %}<span class='fine'>Faites du</span> <strong>photoréalisme</strong>{% endtrans %}</h1>
          </div>
        </div>

        <div class="container">
          <h2>{% trans %}Avec Domogik et Openremote, vous pouvez créer des interfaces photo réalistes{% endtrans %}</h2>
          <img src="images/open_remote_01_tablet.png" class="img-responsive screenshot">
<!--
                <iframe class="col-lg-2 col-md-6 col-sm-12 col-xs-12" src="https://www.youtube.com/watch?v=fzn4ONspGNM"></iframe>
-->
        </div>
      </div>
    </div>


    <!-- slide 5 -->	
    <div id="slideButler">
      <div class="noslide">
        <div class="nolayer title">
          <div class="content">
            <h1>{% trans %}<span class='fine'>Votre</span> <strong>majordome</strong>{% endtrans %}</h1>
          </div>
        </div>

        <div class="nolayer">

          <div class="container">
            <p>{% trans %}Le majordome de Domogik est votre assistant. Il suffit de lui parler ou de lui écrire afin d'interagir avec lui. Une application Android permet de parler de vive voix avec ce majordome et d'autres interfaces viendront la rejoindre au fil du temps.{% endtrans %}</p>
            <p>{% trans %}Il est également très simple de faire progresser et de personnaliser votre majordome, que ça soit en lui parlant ou même en éditant un simple fichier.{% endtrans %}</p>
            <div class="row">
              <div class="col-md-6">
                <h2>{% trans %}Contrôlez...{% endtrans %}</h2>

                <!-- dialog 1 -->
                <div class="row">
                  <div class='who whoLeft'> 
                    <i class="fa fa-user fa-3x"></i>
                  </div> 
                  <div class="bubble bubbleLeft">
                    {% trans %}Quelle est la température du salon{% endtrans %}
                  </div>
                </div>
                <div class="row">
                  <div class='who whoRight'> 
                    Domogik
                  </div> 
                  <div class="bubble bubbleRight">
                    {% trans %}La température du salon est 21 degrés{% endtrans %}
                  </div>
                </div>

                <!-- dialog 2 -->
                <div class="row">
                  <div class='who whoLeft'> 
                    <i class="fa fa-user fa-3x"></i>
                  </div> 
                  <div class="bubble bubbleLeft">
                    {% trans %}Allume le salon.{% endtrans %}
                  </div>
                </div>
                <div class="row">
                  <div class='who whoRight'> 
                    Domogik
                  </div> 
                  <div class="bubble bubbleRight">
                    {% trans %}OK.{% endtrans %}
                  </div>
                </div>

                <h2>{% trans %}Eduquez...{% endtrans %}</h2>

                <!-- dialog 3 -->
                <div class="row">
                  <div class='who whoLeft'> 
                    <i class="fa fa-user fa-3x"></i>
                  </div> 
                  <div class="bubble bubbleLeft">
                    {% trans %}Il fait combien dehors ?{% endtrans %}
                  </div>
                </div>
                <div class="row">
                  <div class='who whoRight'> 
                    Domogik
                  </div> 
                  <div class="bubble bubbleRight">
                    {% trans %}Je n'ai pas compris{% endtrans %}
                  </div>
                </div>

                <!-- dialog 3 - suite -->
                <div class="row">
                  <div class='who whoLeft'> 
                    <i class="fa fa-user fa-3x"></i>
                  </div> 
                  <div class="bubble bubbleLeft">
                    {% trans %}Quand je dis il fait combien dehors ça signifie quelle est la température de dehors{% endtrans %}
                  </div>
                </div>
                <div class="row">
                  <div class='who whoRight'> 
                    Domogik
                  </div> 
                  <div class="bubble bubbleRight">
                    {% trans %}C'est noté.{% endtrans %}
                  </div>
                </div>

                <!-- dialog 3 - suite -->
                <div class="row">
                  <div class='who whoLeft'> 
                    <i class="fa fa-user fa-3x"></i>
                  </div> 
                  <div class="bubble bubbleLeft">
                    {% trans %}Il fait combien dehors ?{% endtrans %}
                  </div>
                </div>
                <div class="row">
                  <div class='who whoRight'> 
                    Domogik
                  </div> 
                  <div class="bubble bubbleRight">
                    {% trans %}La température de dehors est 13 degrés{% endtrans %}
                  </div>
                </div>

              </div>

              <div class="col-md-6">

                <h2>{% trans %}Laissez le apprendre...{% endtrans %}</h2>

                <!-- dialog 3 -->
                <div class="row">
                  <div class='who whoLeft'> 
                    <i class="fa fa-user fa-3x"></i>
                  </div> 
                  <div class="bubble bubbleLeft">
                    {% trans %}Peux-tu me donner la météo ?{% endtrans %}
                  </div>
                </div>
                <div class="row">
                  <div class='who whoRight'> 
                    Domogik
                  </div> 
                  <div class="bubble bubbleRight">
                    {% trans %}Est-ce que cela signifie : quelle est la météo aujourd'hui ?{% endtrans %}
                  </div>
                </div>

                <!-- dialog 3 - suite -->
                <div class="row">
                  <div class='who whoLeft'> 
                    <i class="fa fa-user fa-3x"></i>
                  </div> 
                  <div class="bubble bubbleLeft">
                    {% trans %}Oui{% endtrans %}
                  </div>
                </div>
                <div class="row">
                  <div class='who whoRight'> 
                    Domogik
                  </div> 
                  <div class="bubble bubbleRight">
                    {% trans %}Le ciel sera partiellement nuageux. Les températures seront comprises entre 8 et 19 degrés. {% endtrans %}
                  </div>
                </div>

                <h2>{% trans %}Faites vous assister...{% endtrans %}</h2>

                <!-- dialog various 1 -->
                <div class="row">
                  <div class='who whoLeft'> 
                    <i class="fa fa-user fa-3x"></i>
                  </div> 
                  <div class="bubble bubbleLeft">
                    {% trans %}Calcule 3 plus 4 fois 5 moins 2{% endtrans %}
                  </div>
                </div>
                <div class="row">
                  <div class='who whoRight'> 
                    Domogik
                  </div> 
                  <div class="bubble bubbleRight">
                    3 + 4 * 5 - 2 = 21 
                  </div>
                </div>

                <!-- dialog various 2 -->
                <div class="row">
                  <div class='who whoLeft'> 
                    <i class="fa fa-user fa-3x"></i>
                  </div> 
                  <div class="bubble bubbleLeft">
                    {% trans %}Dis moi quel est le poids d'une pomme ?{% endtrans %}
                  </div>
                </div>
                <div class="row">
                  <div class='who whoRight'> 
                    Domogik
                  </div> 
                  <div class="bubble bubbleRight">
                    {% trans %}182 grammes.{% endtrans %}
                  </div>
                </div>

                <!-- dialog various 3 -->
                <div class="row">
                  <div class='who whoLeft'> 
                    <i class="fa fa-user fa-3x"></i>
                  </div> 
                  <div class="bubble bubbleLeft">
                    {% trans %}Quelle heure est-il ?{% endtrans %}
                  </div>
                </div>
                <div class="row">
                  <div class='who whoRight'> 
                    Domogik
                  </div> 
                  <div class="bubble bubbleRight">
                    {% trans %}Il est 23 heure 25 {% endtrans %}
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- 16:9 aspect ratio -->
          <div class="container">
            <div class="row">
              <div class="col-md-6">

                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="col-lg-2 col-md-6 col-sm-12 col-xs-12" src="https://www.youtube.com/embed/xcRlHjLurd0"></iframe>
                </div>
              </div>

              <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="col-lg-2 col-md-6 col-sm-12 col-xs-12" src="https://www.youtube.com/embed/IXXahef0bNY"></iframe>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- slide 6 -->	
    <div id="slideOpenToTheWorld">
      <div class="noslide">
        <div class="nolayer title">
          <div class="content">
            <h1>{% trans %}<span class='fine'>Une solution</span> <strong>ouverte</strong>{% endtrans %}</h1>
          </div>
        </div>

        <div clas="nolayer">
          <div class="container">
            <div class="row">
              <div class="col-md-6 column">
                <h2>{% trans %}Un de vos besoins domotique n'est pas couvert ?{% endtrans %}</h2>
                <p>{% trans %}Créez votre propre plugin grâce à la documentation et au code des plugins existants.{% endtrans %}</p>
              </div>
              <div class="col-md-6 column">
                <h2>{% trans %}Nos interfaces graphiques ne vous plaisent pas ?{% endtrans %}</h2>
                <p>{% trans %}Tout le monde n'a pas les memes goûts! Si vous n'aimez ni Domoweb, ni Domodroid vous pouvez grâce aux APIs documentées interagir avec Domogik et créer votre propre interface!{% endtrans %}</p>
                <p>{% trans %}Vous pouvez également utiliser des solutions existantes comme <a href="http://www.openremote.org">OpenRemote</a> pour créer vore interface graphique.{% endtrans %}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 column">
                <h2>{% trans %}Votre majordome est trop rigide ?{% endtrans %}</h2>
                <p>{% trans %}Personnalisez le en lui apprenant facilement d'autres interactions.{% endtrans %}</p>
                <p>{% trans %}Vous pouvez egalement développer des extensions qui lui feront aller chercher des informations en ligne.{% endtrans %}</p>
              </div>
              <div class="col-md-6 column">
                <h2>{% trans %}Vous souhaitez participer à l'aventure ?{% endtrans %}</h2>
                <p>{% trans %}Que ça soit pour une petite contribution ou une grosse, vous êtes le bienvenue! Ne soyez pas timides et passez nous voir sur irc.{% endtrans %}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
