{% extends "blog-layout.html" %}
{% block blog %}

<!-- thumbnail: dmg_lagoon.jpg -->
<h1>Ajout d'une section blog sur le site</h1>
<p>
  Comme vous pouvez vous en rendre compte, nous venons d'ajouter une section blog sur ce site.
<!-- stop -->
  Elle a pour vocation de nous aider à vous communiquer les avancées du projet de manière plus formelle que Twitter.
</p>
<p>
  Ce blog n'est pas propulsé par Wordpress...
</p>
<img src="blog/2016-06-22/wordpress.jpg" class="img-responsive">
<p>
  Il est propulsé par un système maison qui n'utilise aucune base de données. Ceci afin de :
  <ul>
    <li>simplifier la maintenance en cas de perte de notre hébergement (tout est dans un dépôt Github).</li>
    <li> nous abstraire d'une maintenance sécuritaire à réaliser, action chronophage au possible.</li>
  </ul>
</p>
<img src="blog/2016-06-22/diy.jpg" class="img-responsive">


{% endblock  %}
