{% extends "blog-layout.html" %}
{% block blog %}

<!-- thumbnail: dmg_cards.jpg -->
<h1>Ajout d'une section screenshots sur le site</h1>
<p>
  En plus de la section blog, nous avons ajouté une <a href="./screenshots.html">page de screenshots</a> de Domogik et ses interfaces sur le site.
<!-- stop -->
  Cette page sera enrichie au fur et à mesure des versions afin de vous fournir un aperçu de notre solution.
</p>
<img src="blog/2016-06-22/dmw_dekstop.png" class="img-responsive">

{% endblock  %}
