{% extends "blog-layout.html" %}
{% block blog %}

<!-- thumbnail: butler_dmw_01.jpg -->
<h1>Découverte du Majordome de Domogik</h1>
<p>
  Le Majordome (que nous appelons techniquement <em>butler</em>, la traduction de majordome en anglais) est votre assistant dans Domogik. Grâce à lui, vous pouvez contrôlez votre maison à la voix.
</p>
<!-- stop -->

<img src="blog/2017-majordome/dmw_bonjour.jpg" class="img-responsive">

<p>Le Majordome vous permettra à terme de discuter avec lui via plusieurs canaux : voix, email, sms, ... A ce jour, seul le canal vocal est présent.</p>




<h2>Le(s) cerveau(x)</h2>

<h3>Le cerveau de base</h3>

<p>Pour fonctionner, le Majordome a besoin d'une intelligence. Celle-ci est fournie via des packages de type <strong>brain</strong> (la traduction anglaise de <em>cerveau</em>). Pour utiliser le Majordome, il faut au miminum installer le package <strong>brain base</strong>. Ce dernier permet entre autres de : </p>
<ul>
  <li>Echanger des politesses.</li>
  <li>Faire du calcul.</li>
  <li>Contrôler les types basiques des commandes et capteurs de n'importe quel plugin : ceci implique que si vous développez un plugin qui peut allumer ou éteindre quelque chose, sans rien faire, dès la création d'un device de ce plugin, vous pourrez demander au Majordome de contrôler cet élément en disant <q>Allume le truc</q>.</li>
  <li>Vous donner la date et l'heure.</li>
  <li>Dire de quoi il est capable quand on lui demande <q>que sais-tu faire ?<q>.</li>
  <li>Apprendre! En lui donnant des explications, il est capable d'apprendre de nouvelle phrase à gérer. </li>
  <li>Suggérer : parfois, si il ne comprend pas votre demande mais qu'il croit avoir compris le thème de votre requête, il vous demandera si son interprétation est la bonne en l'enregistrera.</li>
  <li>Tester l'accès à internet.</li>
  <li>Se taire si on lui demande.</li>
</ul>

<p>Ce package est très important car il contient des paramètres du cerveau qui sont utilisés par d'autres packages de type brain!</p>



<img src="blog/2017-majordome/dmw_calcul.jpg" class="img-responsive">


<h3>Les autres cerveaux</h3>

<p>A ce jour, il y a d'autres cerveaux en cours de développement (ou finis mais non encore publiés), nous en parlerons dans d'autres billets du blog!</p>




<h3>Les cerveaux inclus dans les plugins</h3>

<p>Nous avons vu qu'un plugin n'a pas besoin d'intégrer du code dédié pour que les commandes et capteurs puissent être utilisés par le Majordome. Par exemple, pour le plugin <em>weather</em> (qui donne la météo et les prévisions), après son installation et la création d'un device (Paris par exemple), il sera possible de demander directement <q>Quelle est la température de Paris ?</q>.</p>

<p>Il y a toutefois certains usages spécifiques à des plugins que le Majordome ne peut pas implémenter nativement dans son cerveau de base. Si nous reprenons l'exemple du plugin <em>weather</em>, il est intéressant que le plugin puisse compléter le cerveau du Majordome pour permettre de demander la météo et récupérer plusieurs informations en une seule requête. Par exemple : </p>

<blockquote>
<p>— Quelle est la météo ?</p>
<p>— Aujourd hui, il y aura de grosses averses. Les températures seront comprises entre 2 et 9 degrés. La température actuelle est de 2 degrés.</p>
</blockquote>

<p>Ici le majordome renvoie 4 informations : les températures minimales et maximales prévues, les conditions prévues, mais aussi la température actuelle. Pratique non ?</p>

<img src="blog/2017-majordome/dmw_meteo_01.jpg" class="img-responsive">

<img src="blog/2017-majordome/dmw_meteo_02.jpg" class="img-responsive">

<p>Voici quelques plugins qui complètent le cerveau du Majordome :</p>
<ul>
  <li>body : pour gérer les métriques du corps humain (poids, masse musculaire, ...).</li>
  <li>callerid : pour gérer les appels entrant et en absence.</li>
  <li>rainhour : pour savoir si il va pleuvoir dans l'heure qui vient.</li>
  <li>weather : pour la météo.</li>
</ul>



<h2>Installation du cerveau de base</h2>

<p>Si vous ne l'avez pas fait lors de l'installation de Domogik, il vous faut installer le package <strong>domogik-brain-base</strong>. Comme pour les plugins normaux, il vous faut aller chercher la commande d'installation dans le dépôt de packages : <a href="http://repo-public.domogik.org/packages">http://repo-public.domogik.org/packages</a>. 

<img src="blog/2017-majordome/repo_brain.jpg" class="img-responsive">

<p>Voici par exemple la commande pour installer le package 1.7 de brain-base (à adapter avec la dernière version disponible sur le dépôt!) :</p>

<pre>
$ dmg_package --install https://github.com/domogik/domogik-brain-base/archive/1.7.zip
$ sudo /etc/init.d/domogik restart
</pre>





<h2>Configuration</h2>

<p>Pour le moment, la configuration du nom, du sexe (non utilisé à ce jour) et de la langue du Majordome se font via le fichier de configuration de Domogik. Par défaut, la langue est le français (la petite exception du projet), le nom est <strong>Aria</strong> mais cette valeur par défaut pourra changer dans les prochaines versions.</p>

<p>Voici la configuration par défaut dans le fichier : </p>

<pre>
[butler]
name = Aria
lang = fr_FR
sex = female
</pre> 

<p>Pour prendre une modification en compte, il faut relancer Domogik.</p>





<h2>Tester le Majordome</h2>

<p>Avant de contrôler le Majordome à la voix, vous pouvez chatter avec lui depuis l'administration de Domogik! Pour celà, depuis la liste des clients, cliquez sur le composant <strong>butler</strong> dans les composants du <strong>core</strong> (le core est le coeur de Domogik)</p>.


<img src="blog/2017-majordome/dmg_clients.jpg" class="img-responsive">

<p>Sur cette page, vous pouvez parler voir l'historique des conversations avec le Majordome depuis son démarrage, mais aussi écrire au Butler. C'est le meilleur endroit pour réaliser des tests. Attention, la lecture se fait de bas en haut!</p>


<img src="blog/2017-majordome/dmg_butler_01.jpg" class="img-responsive">

<img src="blog/2017-majordome/dmg_butler_02.jpg" class="img-responsive">

<p><strong>Attention</strong>, lorsque vous créez un device, ne lui donnez pas le nom d'une fonction, par exemple "température salon", sinon vous vous retrouveriez à devoir dire <q>Quelle est la température de <em>température salon</em></q>, ce qui n'a aucun sens!</p>



<h2>Les interfaces vocales</h2>

<p>A ce jour, il existe 2 interfaces vocales au Majordome : </p>

<ul>
  <li>L'interface web Domoweb, à condition d'utiliser Chrome (snif) et d'avoir configuré Domoweb en https (ssl) pour ne pas devoir accepter l'accès au micro à chaque essai...</li>
  <li>L'application DomoButler.</li>
</ul>

<!-- TODO : parler plus de domobutler -->


<h3>Domoweb</h3>

<p>Pour parler au butler sous Domoweb, il suffit de cliquer sur le bouton en haut à droite de l'interface :</p>

<img src="blog/2017-majordome/dmw_icon.jpg" class="img-responsive">

<p>L'interface passe en mode écoute, et il suffit de parler. La langue utilisée pour l'acquisition vocale dépend de la langue de votre navigateur : elle est affichée en bas de l'écran.</p>

<p>Si pour une raison ou une autre, l'acquisition vocale n'est pas possible, un message sera affiché en bas de ce même écran : </p>

<img src="blog/2017-majordome/dmw_nomic.jpg" class="img-responsive">

<p>Une fois que vous avez fait votre demande, la réponse est affichée et diffusée via les hauts parleurs. Une fois la diffusion terminée, le Majordome se remet en écoute afin de permettre un dialogue continu. Si vous ne dîtes plus rien, il arrête d'écouter.</p>

<img src="blog/2017-majordome/dmw_meteo_02.jpg" class="img-responsive">

<!-- todo : vidéo ? -->


<h3>Butler Android</h3>

<img src="blog/2017-majordome/domogik-smartphone_001_1000x625.jpg" class="img-responsive">

<p>L'application <em>Butler Android</em> est une interface pour le majordome sous Android. Elle a les caractéristiques suivantes :</p>

<ul>
  <li>Elle fonctionne sur téléphone, tablette et montres Android (Android, pas encore Android Wear!)</li>
  <li>Elle permet d'activer en option le réveil à la voix (façon <em>OK Google</em> ou <em>Dis Siri</em>) avec la phrase de votre choix.</li>
  <li>Elle permet le dialogue continu : vous pouvez enchaîner plusieurs demande de suite sans devoir appuyer sur un bouton ou utiliser le réveil à la voix.</li>
  <li>Elle fonctionne en tâche de fond : avec le réveil à la voix, si besoin elle allume l'écran et affiche l'application.</li>
  <li>L'affichage s'adapte aux écrans classiques (téléphones, tablettes) ou écrans de montres.</li>
</ul>

<img src="blog/2017-majordome/domogik_smartwatch_001_temperature.jpg" class="img-responsive">

<img src="blog/2017-majordome/butlerandroid_photo_001.jpg" class="img-responsive">


<!-- todo : vidéo ? -->





<h2>Quelques exemples d'interactions</h2>

<h3>Les basiques</h3>

<p>Il est possible d'échanger des politesses : </p>

<blockquote>
<p>— Bonjour</p>
<p>— Hello</p>
</blockquote>

<blockquote>
<p>— Qui es-tu ?</p>
<p>— Je m'appelle Aria</p>
</blockquote>

<blockquote>
<p>— Comment vas-tu ?</p>
<p>— Bien, merci</p>
</blockquote>

<p>Le Majordome peut vous donner quelques informations utiles : </p>

<blockquote>
<p>— Quelle heure est-il ?</p>
<p>— Il est 14h54</p>
</blockquote>

<blockquote>
<p>— Quel jour sommes-nous ?</p>
<p>— Nous sommes le mercredi 21 décembre</p>
</blockquote>

<blockquote>
<p>— Calcule 3 plus 4 fois 5 moins 2</p>
<p>— 3 + 4 x 5 - 2 = 21</p>
</blockquote>

<blockquote>
<p>— Combien fait 6 fois 5 ?</p>
<p>— 6 x 5 = 30</p>
</blockquote>

<p>Il peut même tester la connexion au réseau : </p>
<blockquote>
<p>— Peux-tu tester le réseau ?</p>
<p>— L'acces a internet est OK.</p>
</blockquote>




<h3>L'apprentissage</h3>

<p>Le majordome a plusieurs capacités d'apprentissages différentes. Il peut dans certains cas tenter de comprendre une demande qu'il ne sait pas reconnaître. Par exemple : </p>

<blockquote>
<p>— Est-ce que je suis connecté à internet ?</p>
<p>— Est-ce que cela signifie : peux tu tester le reseau</p>
<p>— Oui</p>
<p>— L'acces a internet est OK.</p>
</blockquote>

<p>La prochaine fois, la demande sera reconnue directement car le Majordome aura appris!</p>

<blockquote>
<p>— Est-ce que je suis connecté à internet ?</p>
<p>— L'acces a internet est OK.</p>
</blockquote>


<p>Il est aussi possible de lui expliquer ce qu'il doit répondreà certaines demandes :</p>

<blockquote>
<p>— Quand je dis qui est le plus beau je veux que tu repondes c'est toi le plus beau.</p>
<p>— OK</p>
<p>— Qui est le plus beau ?</p>
<p>— C est toi le plus beau.</p>
</blockquote>

<p>Notez qu'à ce jour on perd un peu de ponctuation au passage.</p>

<p>Il est possible aussi non pas de créer des dialogues, mais de créer des demandes similaires, par exemple :</p>

<blockquote>
<p>— Quand je dis hola ça veux dire bonjour.</p>
<p>— OK</p>
<p>— Hola</p>
<p>— Salut</p>
</blockquote>

<p>Le principal objectif de cet apprentissage est de permettre d'avoir plus de possibilités dans les demandes, par exemple : </p>

<blockquote>
<p>— Quand je dis que la lumière soit ça signifie allume la chambre.</p>
<p>— OK</p>
<p>— Que la lumière soit</p>
<p>— OK <em>(la chambre s'allume)</em></p>
</blockquote>

<p>Magique non ? Mais on peut encore aller plus loin avec des demandes similaires qui ont un parametre!</p>

<blockquote>
<p>— Quand je dis lumière quelque chose ça signifie allume quelque chose.</p>
<p>— OK</p>
<p>— Lumière la cuisine</p>
<p>— OK <em>(la cuisine s'allume)</em></p>
<p>— Lumière la chambre</p>
<p>— OK <em>(la chambre s'allume)</em></p>
</blockquote>

<p>Puissant non ?</p>





<h3>La gestion des devices</h3>

<p>Pour pouvoir répondre à une demande sur un capteur ou une commande d'un device, le Majordome s'appuie sur le type des capteurs et commandes. Il suffit donc qu'un plugin implémente dans un device un capteur de type température pour que le Majordome soit capable de trouver la température du capteur du device.</p>

<p>Les développeurs des plugins n'ont donc pas à se soucier du Majordome lors de leurs développements (hors besoins spécifiques évidemment).</p>


<h4>Température, humidité</h4>

<p>Il est possible de demander la température, l'humidité : </p>

<blockquote>
<p>— Quelle est la température du salon</p>
<p>— La température est 19 degrés</p>
</blockquote>

<blockquote>
<p>— Combien fait-il dans la cuisine ?</p>
<p>— La température est 19,2 degrés</p>
</blockquote>

<p>Notez que nous avons utilisé plusieurs tournures de phrases différentes!</p>

<blockquote>
<p>— Donnes-moi l'humidité du bureau</p>
<p>— L'humidité est 48 pourcents</p>
</blockquote>


<blockquote>
<p>— Aurais-tu l'obligeance de me donner la température <strong>du bureau</strong> ?</p>
<p>— Est-ce que cela signifie : quelle est la temperature du bureau</p>
<p>— Oui</p>
<p>— La température est 19,8 degrés</p>
<p>— Aurais-tu l'obligeance de me donner la température <strong>de la cuisine</strong> ?</p>
<p>— La température est 19,2 degrés</p>
</blockquote>

<p>Notez dans cet exemple que le Majordome a su apprendre et sait donner un contexte : il a appris une nouvelle tournure de phrase et elle est devenue valable pour tous les capteurs de température!</p>


<h4>Les actionneurs (lumières, interrupteurs, ...)</h4>

<p>Il est possible de contrôler les actionneurs. Vous noterez la souplesse accordée dans la formulation (en plus de l'apprentissage).</p>

<blockquote>
<p>— Allumes la cuisine</p>
<p>— OK</p>
<p>— Peux-tu éteindre la cuisine ?</p>
<p>— Est-ce que cela signifie : eteindre la cuisine</p>
<p>— Oui</p>
<p>— OK</p>
<p>— Allumes la lumière de la cuisine</p>
<p>— OK</p>
<p>— Eteind la lampe de la cuisine</p>
<p>— OK</p>
</blockquote>

<p>Et il est possible de connaître leur état!</p>

<blockquote>
<p>— Est-ce que la cuisine est allumée ?</p>
<p>— Non</p>
<p>— Est-ce que la cuisine est éteinte ?</p>
<p>— Oui</p>
<p>— Comment est la lumière de la cuisine ?</p>
<p>— Eteind</p>
</blockquote>




<h4>Les ouvrants</h4>

<p>Les ouvrants (portes, volets, ...) peuvent être contrôllés :</p>

<blockquote>
<p>— Ouvre le volet de la cuisine</p>
<p>— OK</p>
<p>— Ferme la cuisine</p>
<p>— OK</p>
</blockquote>

<p>Et il est aussi possible de connaître leur état : </p>

<blockquote>
<p>— Est-ce que la porte d'entrée est ouverte ?</p>
<p>— Non</p>
<p>— Est-ce que la porte d'entrée est fermée ?</p>
<p>— Oui</p>
<p>— Comment est la porte d'entrée ?</p>
<p>— Fermé</p>
</blockquote>



<h4>Les commandes simples (triggers)</h4>

<p>Certains plugins ont des devices avec des commandes simples qui n'ont pas d'état (allumer/éteindre, ouvrir/fermer, ...). Il est aussi possible de lancer ces commandes : </p>

<blockquote>
<p>— Exécute le mode nuit</p>
<p>— OK</p>
</blockquote>

<p>Dans cet exemple, je suppose que <em>mode nuit</em> est la commande d'un Virtual device (créé par le plugin vdevice) qui servira de <strong>déclencheur à un scénario</strong> qui exécutera un ensemble d'actions pour lancer le mode nuit de la maison. Le Majordome peut donc lancer des scénarios indirectement ;)</p>.



<h4>Les lumières de couleur</h4>

<p>Le Majordome peut aussi gérer les lumières de couleur : </p>

<blockquote>
<p>— Allumes la corniche en rouge</p>
<p>— OK</p>
<p>— Quelles couleurs sont disponibles ?</p>
<p>— Les couleurs de base sont, Jaune, Noir, Rose, Violet, Gris, Beige, Orange, Bleu, Marron, Vert, Rouge, Blanc. Il y a aussi plein d'autres couleurs disponibles. Vous pouvez me demander les déclinaisons pour une couleur de base</p>
<p>— Change la couleur de la corniche en rose.</p>
<p>— OK</p>
<p>— Quelles sont les déclinaisons de rose ?</p>
<p>— Est-ce que cela signifie : quelles sont les declinaisons de la couleur rose</p>
<p>— Oui</p>
<p>— Voici les déclinaisons de rose, Rose nacré, Rose clair, Rosé, Vieux rose, Rose</p>
<p>— Change la couleur de la corniche en rose nacré.</p>
<p>— OK</p>
</blockquote>

<p>Une lumière RGB est basiquement une lampe, il est donc possible de simplement l'allumer ou l'éteindre.</p>

<blockquote>
<p>— Allume la corniche</p>
<p>— OK</p>
<p>— Eteind la corniche</p>
<p>— OK</p>
</blockquote>


<p>Il n'est par contre pas encore possible de demander la couleur actuelle d'un device (il s'agit d'une contrainte technique, toutes les couleurs n'ayant pas de nom).</p>







<h2>Comment ça marche ?</h2>

<p>La syntaxe des scripts des cerveaux est au format <a href="https://www.rivescript.com/">Rivescript</a> : il s'agit d'un langage pour créer des chatbots. Ce language est relativement souple et permet pas mal de souplesses!</p>

<p>Rivescript peut s'interfacer avec différents langages, dont le python.</p>

<p>Vous pouvez retrouver un tutorial sur ce langage ici : <a href="https://www.rivescript.com/docs/tutorial">https://www.rivescript.com/docs/tutorial</a>.</p>

<h3>Quelques exemples</h3>

<p>La syntaxe de base est relativement simple : il suffit d'avoir 2 lignes, la première qui commence par un <strong>+</strong> correspondra au trigger : l'élément qui va déclencher une réponse. La seconde ligne qui commence par un <strong>-</strong> est la réponse. Exemple : </p>

<pre>
+ toc toc
- qui est là ?
</pre>

<p>Le fait de dire <em>toc toc</em> va déclencher la réponse <em>qui est là ?</em>.</p>

<p>Il est possible d'avoir plusieurs réponses (elle sera tirée au hasard) en multipliant les lignes de réponse : </p>

<pre>
+ bonjour
- bonjour
- salut
- hello
</pre>

<p>Simple non ?</p>

<p>Afin d'éviter la multiplication des triggers comme ceci : </p>

<pre>
+ bonjour
- bonjour
- salut
- hello

+ salut
- bonjour
- salut
- hello

[...]
</pre>

<p>... il est possible d'utiliser une syntaxe plus souple qui offre une liste de possibilités : </p>

<pre>
+ (bonjour|salut|hello)
- bonjour
- salut
- hello
</pre>

<p>Voyons comment ajouter du contexte aux triggers : il suffit de mettre des *. Exemple : </p>

<pre>
+ je me nomme * et je suis (un|une) (homme|femme)
- bonjour <star1>, tu es <star2> <star3>

# je me nomme John et je suis un homme
# bonjour John, tu es un homme
</pre>

<p>Chaque paramètre ou liste de choix va aller dans une variable <em>starX</em>. Nous pouvons donc avoir des paramètres libres ou imposés!</p>

<p>Ce ne sont ici que quelques exemples simples : il est possible d'avoir des listes de possibilités optionnelles, des redirections, de pondérer des triggers, ...</p>




<h2>Je veux ajouter d'autres fonctionnalités au Majordome!</h2>

<p>Sans compter l'apprentissage et l'installation de packages brain existants, il y a deux manières d'ajouter des fonctionnalités au Majordome.</p>

<h3>Compléter le fichier d'apprentissage</h3>

<p>Lorsque vous apprenez quelque chose au Majordome, il complète le fichier <strong>/var/lib/domogik/resources/butler/butler_learn.rive</strong> avec de nouvelles instructions. Vous pouvez vous aussi compléter manuellement ce fichier pour ajouter vos interactions.</p>

<p>Ce fichier est sauvegardé par le script de backup.</p>



<h3>Créer son propre cerveau (package brain)</h3>

<p>Si vous voulez ajouter de nombreuses fonctionnalités au Majordome, ou que vous voulez réaliser des fonctionnalités avancées qui nécessitent de coder du python (ou autre langage supporté par Rivescript), il vaut mieux créer votre propre package brain!</p>

<p>Tout d'abord, créez une arborescence dans un dossier nommé <strong>domogik-brain-quelquechose</strong> :</p>

<pre>
mkdir -p ./rs/fr_FR
mkdir -p ./rs/en_US
mkdir ./lib
</pre>

<p>Initialisez quelques fichiers :</p>

<pre>
touch __init__.py
touch lib/__init__.py
</pre>

<p>Créez un fichier <strong>info.json</strong> qui va décrire votre package :</p>

<pre>
{
    "configuration": [],
    "products": [],
    "commands": {},
    "xpl_commands": {},
    "sensors": {},
    "xpl_stats": {},
    "device_types": {},
    "identity": {
        "author": "Votre nom/pseudo",                 # modifier !
        "author_email": "Votre email",                # modifier !
        "tags": ["butler"],
        "dependencies": [],
        "description": "Une description du package",  # modifier !
        "domogik_min_version": "0.5.0",
        "name": "quelquechose",                       # modifier !
        "type": "brain",
        "version": "1.0"
    },
    "json_version": 2
}
</pre>

<p>Modifiez les lignes indiquées comme telles et supprimez les commentaires du fichier (sinon il sera invalide).</p>

<p>Vous pouvez maintenant créer vos fichiers au format Rivescript dans le dossier <strong>rs/fr_FR</strong>. Si vous envisagez de publier votre cerveau, vous penserez à les traduire en anglais dans le dossier <strong>rs/en_US</strong> ;).</p>

<p>Au démarrage du Majordome, tous les fichiers <strong>.rive</strong> seront chargés : vous pouvez donc créer autant de fichiers que vous le souhaitez.</p>

<p>Créons un premier fichier <strong>rs/fr_FR/toctoc.rive</strong> : </p>

<pre>
+ toc toc
- qui est là ?
</pre>

<p>Pour tester, il vous faut maintenant : </p>
<ul>
  <li>Installer votre package</li>
  <li>Recharger le butler ou relancer Domogik</li>
</ul>

<p>Pour installer le package, depuis votre dossier <em>domogik-brain-quelquechose</em>, avec l'utilisateur utilisé pour l'installation de Domogik, lancez la commande :</p>

<pre>
dmg_package -i .
</pre>

<p>Si votre fichier <em>info.json</em> est valide, le package s'installera.</p>

<p>Relancez Domogik (dans un futur article nous verrons comment procéder de manière plus efficace) : </p>

<pre>
sudo /etc/init.d/domogik restart
</pre>

<p>Après le redémarrage, dans l'administration de Domogik, vous devez voir apparaître votre package dans la liste des clients et vous pouvez tester votre travail!</p>


<p>Ici nous avons vu un exemple très simple, un futur article expliquera comment créer un package brain avancé qui va requêter un service en ligne par exemple. Nous verrons aussi comment debugger votre travail.</p>


<!-- TODO (ou pas)

 * not understood

-->
{% endblock  %}
