{% extends "blog-layout.html" %}
{% block blog %}

<!-- thumbnail: april.jpg -->

<h1>Témoignage - la domotique a ruiné ma vie</h1>

<p><strong>1er avril 2017</strong> - <em>NDLR : Ce billet est un témoignage qui montre que trop de domotique tue la domotique... Soyez vigilants!</em></p>
<p>Je me présente, Nicolas H., j'ai 39 ans et la <strong>domotique vient de ruiner ma vie</strong>... Pas financièrement, non! Bien pire...</p>

<!-- stop -->

<p><strong>Note du 2 avril 2017 : ce billet est bien évidemment un poisson d'avril.</strong> Notez tout de même que la domotique peut donner un pouvoir de surveillance important avec lequel il faut être vigilant dans l'usage!</p>

<h2>Au commencement...</h2>

<p>J'ai commencé à mettre en place de la domotique lors de la construction de ma maison il y a un peu plus de 5 ans. Etant plutôt à l'aise financièrement à l'époque, je me suis fait plaisir : <p>
<ul>
  <li>KNX pour contrôler les lumières, prises et volets.</li>
  <li>Intégration d'enceintes Sonos dans toutes les pièces de vie.</li>
  <li>Poële à granules.</li>
</ul>
<p>Plutôt sympatique comme début!</p>

<p>A cette époque, j'étais marié avec 3 jeunes enfants.</p>

<p>Ensuite, j'ai commencé à m'intéresser aux objects connectés (les fameux!). Ca a commencé par un Karotz, suivi de capteurs pour le suivi des plantes et en passant par d'autres gadgets. J'ai donc passé le pas vers la solution domotique multi protocoles.</p>

<h2>Là où la dérive commence....</h2>

<p>Plusieurs de nos voisins ayant subits <strong>des cambriolages</strong>, avec ma femme nous avons décidé de renforcer le côté sécurité de la maison : </p>

<ul>
  <li>Mise en place de caméras extérieures avec envoi de mails sur détection de mouvement + historisation des détections de mouvements.</li>
  <li>Mise en place de balises GPS (coûteuses!!!) dans les voitures.</li>
  <li>Création de scénarios domotiques qui nous notifiaient dès que quelqu'un rentre à la maison, que nous partions alors qu'une fenêtre était ouverte, ...</li>
</ul>

<p>De fil en aiguille, nous voulions <strong>toujours de plus en plus de sécurité</strong> : détecteurs de fumée, détecteurs de monoxyde de carbone, détecteurs d'inondation, ...</p>

<p>Nous ne nous en étions pas encore rendus compte à l'époque, mais nous étions déjà dépendants à la notification!</p>

<h2>La période sur-notifications</h2>

<p>Les SMS ne nous suffisaient plus : de temps en temps nous le recevions avec un délai non acceptable (10 min voir pus de décalage). Nous sommes donc passez au multi canal : <strong>envoi combiné de mails, de sms, utilisation de service de messages push</strong>... Combiné à des envois sur les téléphones pros et persos, <strong>nous ne pouvions plus louper une seule alerte</strong>!</p>

<p>Nous avons appris à dompter ces notifications et à force, nous savions que le 'gzzz gzzz' du vibreur le mardi à 10h correspondait à la femme de ménage, que celui de 12h30 le mercredi correspondait aux beaux-parents qui venaient de récupérer les enfants à l'école et les garder à la maison.</p>

<p>Nous n'avions presque <strong>plus besoin de lire les notifications</strong>, les 'gzzz gzzz' nous suffisaient...</p>

<p>Quand je repense maintenant au nombre de notifications non lues en fin de journée sur tous nos canaux de notifications et que nous supprimions en masse <strong>sans les lire</strong> au final... Je me dis que nous aurions dû nous rendre compte du problème qui pointait déjà son nez à l'époque!</p>

<h2>La série de pépins</h2>

<p>Notre aîné a grandi et a eu l'âge de rentrer seul en car. Un nouveau 'gzzz gzzz' a donc fait son apparition le soir vers 16h45 pour signifier son arrivée à la maison. Tout se passait bien jusqu'au jour où....</p>

<p>... nous avons bien reçu un 'gzzz gzzz' à 16h45, mais <strong>nous n'avons pu lu la notification</strong> : il ne s'agissait pas de notre fils qui rentrait, mais d'une petite fuite d'eau détectée. Notre fils avait glissé sur une plague de verglas entre l'arrêt de car et la maison et a attendu plus de 30 minutes par terre, la jambe cassée avant qu'un passant ne le voit et prévienne les pompiers...</p>
<p>Je vous laisse imaginer la suite... la mauvaise surprise de ma femme qui ne trouve pas notre enfant en rentrant à la maison, l'analyse frénétique des notifications non lues, le moment de blanc qui en découle : <em>"oh les cons!"</em>, suivi d'une <strong>énorme panique</strong> jusqu'à l'appel salvateur de l'hôpital....</p>

<p>Le second pépin, où la domotique a été utile ce coup-ci a été <strong>le vol de la voiture</strong>. Les voleurs n'étant pas des professionnels, ils n'ont pas trouvé la balise GPS et grâce à celle-ci, nous avons pu donner les informations du trajet suivi par la voiture aux forces de l'ordre, qui n'ont eu qu'à la récupérer. Le problème c'est qu'en 6 mois, nous nous sommes fait voler la voiture deux fois (mais nous l'avons retrouvée deux fois!).</p>

<h2>Les conséquences de ces pépins</h2>

<p>L'incident de notre fils a eu comme conséquence une <strong>diminution drastique de l'envoi des notifications</strong> au strict nécessaire avec un retour aux basiques : <strong>le bon vieil appel téléphonique de l'enfant à ses parents</strong> quand il arrive à la maison. La seconde conséquence a été une grosse dispute entre ma femme et moi : elle me tenait responsable de ce qui était arrivé <em>"avec toutes mes conneries de domotique"</em></p>

<p>Le vol des voitures a eu un effet innatendu sur moi : je suis devenu un flippé du vol de voitures : alors que je ne le faisais jamais avant, j'ai commencé à vérifier plusieurs fois par jour la position des voitures...</p>

<h2>La psychose commence!</h2>

<p>Deux ans après, un un après-midi, alors que ma femme devait être au bureau, je vois que ça voiture n'y est plus. en panique, je l'appelle pour lui dire que la voiture a été volé et elle me dit que non elle fait du shopping. Elle a juste oublié de me dire qu'elle avait pris son après-midi pour du shopping au final. A moins que... non, je divague!</p>

<p>J'ai beau pensé que j'ai divagué, le doute, ce sournois s'installe... Je ressors ma domotique, et sous prétexte d'une mise à jour de l'application domotique du téléphone, <strong>j'active le suivi GPS de ma femme</strong>. Et là c'est le drame... Tous les indices commencent à concorder... Certains après-midi, alors que sa voiture reste sur le parking de son travail, le téléphone de ma femme se ballade en ville...</p>

<p>La peur du <strong>mari trompé</strong> est installée, telle un cancer qui vous ronge de l'intérieur. Mais j'ose croire que je me trompe... Pour son anniversaire je lui offre un traqueur d'activité, avec le secret espoir de découvrir qu'elle n'a pas d'activité intente ces après-midi là et que le traqueur ne sera pas enlevé non plus pour cacher un acte honteux!</p>

<p>Un mois plus tard, je fais le bilan : 2 après-midi suspects mais le traqueur d'activité ne révèle rien...</p>

<p>Je finis par craquer, faire une crise de jalousie, lui avouer le suivi gps, le pourquoi du traqueur! Et elle avoue... qu'elle était en train de préparer mes 40 ans : elle voulait m'offrir un superbe voyage et avait donc posé des après-midi pour aller dans des agences.</p>

<p>Ok, mais on ne me la fait pas à moi! Comment est-elle allée au centre ville sans la voiture ? Avec une collègue pour ne pas que je me doute suite à mon appel sur le vol potentiel de la voiture. Ah oui, et quelle collègue ? Un homme sûrement ? Etc etc etc.</p>

<h2>Le bilan</h2>

<p>Ma femme m'a bien offert le voyage, sur les papiers de commandes les dates concordent bien... j'ai été con, bête stupide, mais c'est trop tard... Elle m'a offert le voyage, mais elle m'a quitté car elle n'a pas supporté mon comportement... Je ferais mon voyage en couple seul...</p>

<p>Alors oui la domotique a ruiné ma vie... mais je suis quand même le premier responsable...</p>

<p>Alors, méfiez-vous vous aussi : ne laissez pas votre vie dictée par des notifications, des traces, mais discutez, faites confiances aux autres, et surtout n'oubliez pas que la domotique n'est qu'un outil! Pas la vérité!!!!</p>

<p>Sur ce, je finis ce témoignage et vais manger seul mon poisson avec ses carottes vapeur...</p>


{% endblock  %}

