{% extends "blog-layout.html" %}
{% block blog %}

<!-- thumbnail: body.jpg -->
<h1>Plugin body pour suivre votre poids et les proportions des masses musculaires, osseuses, aqueuses et graisseuses</h1>
<p>
  Aujourd'hui, prenons soin de notre corp avec le plugin <strong>body</strong>! Ce plugin ne gère aucun matériel, mais il va nous permettre de monitorer nos métriques corporelles avec n'importe quelle balance.
</p>
<!-- stop -->
<p>Les métriques que nous allons pouvoir suivre sont : </p>
<ul>
  <li>Le poids en kilogrammes.</li>
  <li>Le pourcentage de masse musculaire.</li>
  <li>Le pourcentage de masse aqueuse.</li>
  <li>Le pourcentage de masse osseuse.</li>
  <li>Le pourcentage de masse graisseuse.</li>
</ul>

<img src="blog/2016-plugin-body/dmw_body_02.png" class="img-responsive">

<h2>Cas d'usage</h2>

<p>Pour saisir vos données avec ce plugin, il y a deux possibilités : </p>
<ul>
  <li>Parler au majordome (le moyen le plus sympa).</li>
  <li>Saisir les données depuis une interface graphique (via un widget sur l'interface web Domoweb par exemple).</li>
</ul>

<p>Vous pourrez ensuite, soit demander ces informations au majordome, soit les consulter sur une des interfaces, que ça soit Domoweb ou Domodroid (l'application Android).</p>

<h2>Prérequis</h2>

<ul>
  <li>Domogik 0.5</li>
</ul>





<h2>Installation du plugin</h2>

<p>Comme toujours, il est conseillé de lire la documentation du plugin avant : <a href="http://domogik-plugin-body.readthedocs.io/">http://domogik-plugin-body.readthedocs.io/</a></p>

<p>Pour le moment, dans Domogik (version 0.5), les installations se font en ligne de commande.</p>

<p>Pour trouver la commande pour installer le plugin, il suffit d'aller sur le dépôt de plugins : <a href="http://repo-public.domogik.org/packages">http://repo-public.domogik.org/packages</a>. Sur cette page, vous trouvez tous les plugins qui ont été validés. pour chaque plugin, vous trouverez ici le lien vers la documentation.</p>

<img src="blog/2016-plugin-body/repo_body.jpg" class="img-responsive">

<p>Une fois le plugin désiré trouvé, il suffit de cliquer sur <strong>Install</strong> et une fenêtre s'affiche avec la ligne de commande pour installer le plugin.</p>

<p>Lancez la commande avec l'utilisateur système utilisé lors de l'installation de Domogik (domogik par défaut), puis relancez Domogik. Par exemple pour la version 1.0 du plugin :</p>

<pre>
$ dmg_package --install https://github.com/fritz-smh/domogik-plugin-body/archive/1.0.zip
$ sudo /etc/init.d/domogik restart
</pre>






<h2>Configuration</h2>

<p>Dans l'administration de Domogik, dans la liste des clients, allez sur le plugin body. Puis allez dans l'onglet <strong>configuration</strong> du plugin. Ce plugin n'a aucun paramètre de configuration, hormis le paramètre commun à tous les plugins : le démarrage automatique.</p>








<h2>Création d'un device</h2>

<p>Allez dans l'onglet <strong>Domogik devices</strong> et cliquez sur <strong>Create a new Domogik device</strong>.</p>

<img src="blog/2016-plugin-body/dmg_body_01.jpg" class="img-responsive">

<p>Choisissez l'unique type de device disponible : </p>

<img src="blog/2016-plugin-body/dmg_body_02.jpg" class="img-responsive">

<p>Remplissez les champs :</p>

<img src="blog/2016-plugin-body/dmg_body_03.jpg" class="img-responsive">

<ul>
  <li>Device name : le nom de la personne qui souhaite historiser ses métriques</li>
  <li>Description (facultatif) : une description</li>
  <li>Reference (facultatif) : laisser vide</li>
</ul>

<p>Une fois les champs remplis, cliquez sur <strong>Create the device</strong>. Vous pouvez maintenant voir le device dans la liste des devices.</p>






<h2>Utilisation avec le majordome</h2>

<blockquote>
<p>— Je pèse 75 kilos</p>
<p>— Qui es tu ? </p>
<p>— John</p>
<p>— OK. Tu pèses 75 kilos. </p>
<p>— Quel est mon poids ?</p>
<p>— Ton poids est 75 kg</p>
</blockquote>

<blockquote>
<p>— Je fais 41 pourcents de muscle.</p>
<p>— OK, John. Tu as 41 pourcents de masse musculaire.</p>
<p>— Quelle est ma masse musculaire ?</p>
<p>— Ta masse musculaire est 41 %</p>
</blockquote>

<blockquote>
<p>— J'ai 18 pourcents de masse grasse.</p>
<p>— OK, john. Tu as 18 pourcents de masse grasse. </p>
<p>— Donnes-moi ma masse graisseuse.</p>
<p>— Ta masse graisseuse est 18 % </p>
</blockquote>

<blockquote>
<p>— Je fais 60 pourcents de masse aqueuse</p>
<p>— OK, john. Tu as 60 pourcents de masse aqueuse. </p>
<p>— Quel est mon pourcentage de masse aqueuse ?</p>
<p>— Ta masse aqueuse est 60 % </p>
</blockquote>

<blockquote>
<p>— J'ai 2 pourcents d'os</p>
<p>— OK, john. Tu as 2 pourcents de masse osseuse.</p>
<p>— Dis-moi ma masse osseuse.</p>
<p>— Ta masse osseuse est 2 % </p>
</blockquote>


<h2>Utilisation sous Domoweb</h2>

<p>Ajoutez le widget <strong>Body</strong> de la catégorie <strong>Health</strong> :</p>

<img src="blog/2016-plugin-body/dmw_body_01.png" class="img-responsive">

<p>Le widget ressemble à ceci : </p>

<img src="blog/2016-plugin-body/dmw_body_02.png" class="img-responsive">

<p>A gauche, nous voyons une icône qui représente un homme ou une femme suivant la configuration du widget. En-dessous le poids est indiqué. Sur la partie droite, il y a un donut qui illustre la répartition entre les différentes composantes du corps : </p>

<ul>
  <li>muscle</li>
  <li>masse grasse</li>
  <li>masse aqueuse</li>
  <li>masse osseuse</li>
</ul>

<p>Les couleurs de chaque partie sont à l'image des couleurs du corps humain.</p>

<p>Si vous cliquez sur l'icône représentant un homme ou une femme, une seconde vue du widget s'affiche :</p>

<img src="blog/2016-plugin-body/dmw_body_03.png" class="img-responsive">

<p>Cette vue permet de modifier les valeurs de chaque métrique par pallier de 0.1. Une fois la mise à jour faite, il suffit de cliquer sur sauver pour valider les modifications et revenir à la vue précédente.</p>

<p>A ce jour, il n'y a pas de widget qui affiche l'évolution des différentes métriques dans le temps. Cela viendra dans une future version!</p>

{% endblock  %}
