/* GENERAL
--------------------------------------------- */

h1 {
    color: #005774;
}

h2 {
    color: #005774;
}

p {
    text-align: justify;
    font-size: 1.5em;
}

.screenshot {
    max-height: 50vh;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

/* CONTENEUR PRINCIPAL
--------------------------------------------- */

  .slides {
    min-height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
    -webkit-perspective-origin-x: 100%;
    perspective-origin-x: 100%;
    font-family: Source sans pro;
  }


/* NAVBAR
--------------------------------------------- */

.navbar-dmg {
    background-color: #2D2C2F;
    border-bottom: 5px solid #005774;
    margin: 0px 0px 0px 0px;
}

.navbar-dmg a {
    color: #eee;
}

.navbar-dmg .dropdown-menu,
.navbar-dmg .nav > li > a:focus,
.navbar-dmg .nav > li > a:hover {
    background-color: #005774;
}

.navbar-nav .open .dropdown-menu > li > a {
    color: #eee;
}

.navbar-nav .open .dropdown-menu > li > a:hover, 
.navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
}

.navbar-dmg .navbar-brand {
    background: url('../images/dmg-logo.png') 0 50% no-repeat;
    padding-left: 52px;
}

.navbar-dmg .navbar-brand:hover,
.navbar-dmg .navbar-brand:focus {
    background-color: #005774;
}

.navbar-dmg .navbar-toggle {
    background-color:#eee;
}

.navbar-dmg .navbar-toggle:hover,
.navbar-dmg .navbar-toggle:focus {
    background-color: #005774;
}
.navbar-dmg .navbar-toggle .icon-bar {
    background-color: #000000;
}

.navbar-dmg .navbar-nav > .active > a, 
.navbar-dmg .navbar-nav > .active > a:hover, 
.navbar-dmg .navbar-nav > .active > a:focus,
.navbar-dmg .navbar-nav > .open > a, 
.navbar-dmg .navbar-nav > .open > a:hover, 
.navbar-dmg .navbar-nav > .open > a:focus {
    background-color: #005774;
}

/* collapse table */
.hiddenRow {
    padding: 0 !important;
}



/* GITHUB
--------------------------------------------- */

.github-fork-ribbon-wrapper {
    z-index: 20;
}


/* TELECHARGEMENT 
--------------------------------------------- */

  #slideDownload {
    margin-bottom: 2em;
  }

  #slideDownload h1 {
  }

  #slideDownload h2 {
  }

  #slideDownload a {
    font-weight: bold;
    margin-right: 2em;
    white-space: nowrap;
  }

  #slideDownload .column {
  }

/* FAQ
--------------------------------------------- */
  #faq h1 {
  }

  #faq h2 {
    margin-top: 2em;
  }

  #faq blockquote {
      text-align: justify;
  }



/* DIVERS
--------------------------------------------- */

  i {
    min-width: 1.5em;
  }


/* INDEX - SLIDES
--------------------------------------------- */

  .noslide {
    padding-bottom: 3em;
  }

  .slide {
    margin: 0px 0px 0px 0px;
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .title {
    margin: 0px 0px 0px 0px;
    height: 10em;
    background-image: url("../images/background_dmg_cards.jpg"); 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
/*
    background-attachment: fixed;
*/
  }

  .title .content {
    position: relative;
    top: 1.5em;
    left: 2em;
  }

  .title h1 {
    color: black;
    font-style: normal;
    font-size: 4em;
    margin: 0px 0px 0px 0px;
  }
  
  .title h1 .fine {
    font-weight: 200;
  }

  .title h1 strong {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 700;
  }

@media only screen and (max-device-width : 600px) {
  .title h1 {
    font-size: 3em;
  }
}

  .layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform-origin-x: 100%;
    transform-origin-x: 100%;
  }


  .layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
  }

  .layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }

  /* --- slide 1 ----------------------------- */

  #slideStart {
    /* background-image: url("../images/background_dmg_cards.jpg"); */
    /* background-image: url("../images/background_flower_and_tablet_2.jpg"); */
    /* background-image: url("../images/background_house.jpg");  */
    /* background-image: url("../images/background_house_blur_10.jpg"); */
    background-image: url("../images/background_house_blur_20.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #005774;
    text-shadow: 0px 0px 8px rgba(050, 050, 050, 1);
  }


  #slideStart #maintitle {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #slideStart h1 {
    font-size: 6em;
    color: white;
  }

  #slideStart p {
    margin-top: 1em;
    font-size: 2.7em;
    text-align: center;
  }

  /* --- slide description ------------------- */

  #slideDescription {
    background: rgb(255,255,255);
    color: black;
  }

  #slideDescription strong {
    color: #005774;
  }

  #slideDescription #description {
    padding: 5% 5% 5% 5%;
  }

  #slideDescription #description p {
    margin-botom: 3em;
    font-size: 2em;
  }

  #slideDescription #description ul {
    list-style-type: none;
    font-size: 1.5em;
  }

  #slideDescription #description li {
    margin-bottom: 0.3em;
  }

  #slideDescription #description i  {
    color: #005774;
  }

  /* --- slide features----------------------- */

  #slideFeatures {
    background: rgb(255,255,255);
  }

  #slideFeatures h2 {
    color: #005774;
  }

  #slideFeatures a {
    text-decoration: underline;
  }

  #slideFeatures .column {
      padding-left: 1em;
      padding-right: 1em;
      text-align: center;
  }

  #slideFeatures .column p {
      text-align: justify;
  }

  #slideFeatures i {
    margin: 0.5em;
    color: #005774;
  }


  /* --- slide photos  ----------------------- */

  #slidePhotos {
/*
    background-image: url("../images/background_dmg_cards.jpg"); 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
*/
  }



  /* --- slide domoweb ------------------- */

  #slideDomoweb {
  }

  /* --- slide admin ------------------- */

  #slideAdmin {
  }

  /* --- slide no cloud ---------------------- */

  #slideNoCloud {
    /* color: #005774; */
    color: black;
    /*
    text-shadow: 0px 0px 4px rgba(200, 200, 200, 1);
    background-image: url("../images/background_cloud.jpg"); 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    */
    padding-bottom: 2em;
    margin-bottom: -1.5em; /* WTF we need this ? */
  }

  #slideNoCloud h1 {
    
  }

  #slideNoCloud .description {
    font-size: 1.5em;
    text-align: justify;
  }

  /* --- slide butler  ----------------------- */

  #slideButler {
    background-color:#2d2c2f;
    color: white;
  }

  #slideButler h2 {
    color: white;
  } 
   
  #slideButler .col-md-6 {
    padding: 3em;
  }

  #slideButler p {
    margin-top: 2em;
    font-size: 1.5em;
  }

  /* --- slide open to the world ------------- */

  #slideOpenToTheWorld {
    background-color: white;
    color: black;
  }

  #slideOpenToTheWorld a {
    color: #005774;
    text-decoration: underline;
  }


  #slideOpenToTheWorld .column p {
      text-align: justify;
  }

/* FOOTER
--------------------------------------------- */
  
  #footer {
    background-color:#2d2c2f;
    border-top: 5px solid #005774;
    border-bottom: 5px solid #005774;
    color: white;
    font-size: 1.2em;
    padding-bottom: 2em;
    padding-top: 1em;  
  }


  #footer a {
    color: white;
  }

  #footer h1 {
    color: white;
    margin-top: 0em;
    border-bottom: 2px solid #005774;
    font-size: 2em;
    text-align: left;
  }

  #footer p {
    margin-top: 1em;
    font-style: italic;
    text-align: justify;
    font-size: 1em;
  }





/* ---- bubbles -------------- */

/* common */
.bubble {
    color: black;
    margin-bottom: 1ex;
    font-size: 1.3em;
    position: relative;
    width: 65%;
    padding: 1ex;
    padding-left: 1em;
    background: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.who {
    height: 64px;
    width: 64px;
}

.whoRight {
    color: transparent;
    margin-top: -10px;
/*
    background: transparent url("../images/dmg-logov1_bluelagoonl_64x64.png") 0 0 no-repeat;
    background: transparent url("../images/dmg-logov1_darkgrey_64x64.png") 0 0 no-repeat;
*/
    background: transparent url("../images/dmg-logov1_white_64x64.png") 0 0 no-repeat;
}

.whoLeft {
/*
    color: transparent;
    background: transparent url("../images_non_free/girl.png") 0 0 no-repeat;
    margin-top: -10px;
*/
    color: white;
    text-align: center;
}


/* Left */
.bubbleLeft {
    font-style: italic;
    border: #005774 solid 2px;
    float: left;
    margin-left: 25px;
}

.bubbleLeft:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 8px 16px 8px 0;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    left: -16px;
    top: 12px;
}

.bubbleLeft:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 9px 17px 9px 0;
    border-color: transparent #005774;
    display: block;
    width: 0;
    z-index: 0;
    left: -19px;
    top: 11px;
}

.whoLeft {
    float: left;
}


/* Right */

.bubbleRight {
    border: #005774 solid 2px;
    float: right;
    margin-right: 25px;
}

.bubbleRight:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 8px 0 8px 16px;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    right: -16px;
    top: 12px;
}

.bubbleRight:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 9px 0 9px 17px;
    border-color: transparent #005774;
    display: block;
    width: 0;
    z-index: 0;
    right: -19px;
    top: 11px;
}

.whoRight {
    float: right;
}

/* --- back to top button -----------*/
.back-to-top {
  background: none;
  margin: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 70px;
  height: 70px;
  z-index: 100;
  display: none;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0px 0px 4px rgba(050, 050, 050, 1);
}

.back-to-top i {
  font-size: 60px;
}

                                                                       

